.menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}

.menu__items {
  position: relative;
  @apply text-lg;
}

.button {
  cursor: pointer;
  position: relative;
  @apply text-gray-500;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    border-radius: 10px;
    width: 0%;
    background: #1cbf73;
    transition: 0.2s;
  }
  &:hover {
    color: #1cbf73;
    &::after {
      width: 100%;
    }
  }
}
